* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 27px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
} 

.card {
  height: 300px;
  width: 250px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.card .top {
  display: flex;
  justify-content: space-between;
  padding:25px;
}

.card .top img {
  height: 40px;
  width: 40px;
  border: 1px solid rgb(93, 98, 124);
  border-radius: 50%;
}

.top button {
  height: 20px;
  width: 40px;
  border: 1px solid rgb(93, 98, 124);
  border-radius: 5px;
  gap: 2px;
}

.center {
  margin: 20px;
  height: 100px;
}

.center h2 {
  padding: 4px;
}
.center .line1 {
  display: flex;
  gap: 10px;
  padding: 4px;
}

.center .line2 {
  display: flex;
  gap: 10px;
  padding: 4px;
}

.line2 p {
  border: 1px solid rgb(92, 88, 88);
  padding: 4px;
  border-radius: 5px;
  background-color: rgb(212, 219, 225);
}

.bottom {
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
}

.bottom button {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px;
}